// sectionTitle

.c-sectionTitle {
          display: inline-block;
          font-size: 2rem;
          font-weight: bold;
          margin-bottom: 60px;
          border-bottom: solid 1px #383e45;
      }