// about

.p-about__content {
          display: flex;
          justify-content: center;
          align-items: center;

          img {
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    margin-right: 30px;
          }

          .p-about__text {
                    text-align: left;

                    .p-about__name {
                              font-size: 1rem;
                              margin: 10px 0;
                    }
          }
      }