// bicycle

.p-bicycle__list {
          display: flex;
          justify-content: space-between;
}

.p-bicycle__item {
          width: 32%;
}

.p-bicycle__title {
          font-size: 1rem;
          margin: 10px 0;
          font-weight: bold;
}