// l-header.css

.l-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          max-width: 960px;
          margin: 0 auto;
          padding: 0 4%;
          text-align: center;
      }