// main

.l-main {
          margin-bottom: 80px;

          img {
                    width: 100%;
                    max-width: 1920px;
                    height: 600px;
                    object-fit: cover;
          }
      }