// nav

.l-header ul {
          display: flex;
          padding: 10px 0;

          li {
                    margin-left: 30px;
                    
                    a {
                              color: #24292e;
                              &:hover {
                                color: rgb(148, 147, 147);
                              }
                    }
          }
      }